@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Manrope', sans-serif;
}
.ant-btn:hover {
  color: rgb(22, 21, 21) !important;
}

.scrollbar::-webkit-scrollbar {
  height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(36, 36, 176);
  outline: 1px solid inherit;
  border-radius: 6px;
}

.form-bg {
  background-color: #fafafa;
}

.rotate-icon {
  transform: rotate(-90deg);
  padding: 0 10px;
  font-size: 20px;
}

.ant-descriptions-row .ant-descriptions-item-content {
  background-color: #e8edff;
}
.ant-descriptions-row {
  border: 5px solid white;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.danger {
  background-color: #fee2e2;
  color: #dd3333;
}

.blue {
  color: #fafafa;
  background-color: #194bfb;
}

.header {
  font-family: Manrope;
  font-size: 13px;
  font-weight: 800;
  text-align: left;
  background-color: #436CFF;
  color: #FCFCFC;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
